/* CSS para a tela inicial da loja */

/* Estilo para o corpo da página */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
}

/* Estilo para o cabeçalho */
.header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

/* Estilo para o título principal */
.header h1 {
    margin: 0;
    font-size: 36px;
}

/* Estilo para o botão de login */
.btn {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
}

.btn:hover {
    background-color: #45a049;
}

/* Estilo para o botão de acesso ao estoque */
button[type="submit"] {
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #005f7f;
}
