<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cadastrar Empresa</title>
    <link rel="stylesheet" type="text/css" href="/css/cadastrar-empresa.css">
</head>
<body>
    <h2>Cadastrar Nova Empresa</h2>
    <form action="/empresas/cadastrar-empresa" method="post">
        <div class="form-group">
            <label for="nome_empresa">Nome da Empresa:</label>
            <input type="text" id="nome_empresa" name="nome_empresa" required>
        </div>
        <button type="submit">Cadastrar</button>
    </form>
</body>
</html>
